<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siti & Angga | anncode.dev</title>
    <meta name="description" content="Kami mengundang Saudara/i untuk hadir dalam acara pernikahan kami.">

    <!-- Open Graph -->
    <meta property="og:title" content="Siti & Angga | anncode.dev">
    <meta property="og:description" content="Kami mengundang Saudara/i untuk hadir dalam acara pernikahan kami.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://siti-angga-anncode.vercel.app/">
    <meta property="og:image" content="https://siti-angga-anncode.vercel.app/assets/images/gambar-og.jpg">
    <meta property="og:image:secure_url" content="https://siti-angga-anncode.vercel.app/assets/images/gambar-og.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="750">
    <meta property="og:image:height" content="600">

    <!-- Twitter Card (opsional tapi disarankan) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Siti & Angga | anncode.dev">
    <meta name="twitter:description" content="Kami mengundang Saudara/i untuk hadir dalam acara pernikahan kami.">
    <meta name="twitter:image" content="https://siti-angga-anncode.vercel.app/assets/images/gambar-og.jpg">

    <link rel="canonical" href="https://siti-angga-anncode.vercel.app/">
    <!-- AOS CSS -->
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com/3.4.17"></script>

    <style>
        @font-face {
        font-family: "hdr";
        src: url("assets/fonts/Palisade.otf") format("truetype");
        }

        @font-face {
        font-family: "scd";
        src: url("assets/fonts/Mistrully.ttf") format("truetype");
        }

        @font-face {
        font-family: "txt";
        src: url("assets/fonts/Merienda-VariableFont_wght.ttf") format("truetype");
        }

        body {
            background-color: rgb(255, 255, 255) !important;
        }

        body, html { font-family: "hdr"; scroll-behavior: smooth; overflow-x: hidden; }
        img, video { max-width: 100%; height: auto; }

        /* Intro fullscreen */
        #intro { position: fixed; top:0; left:0; width:100%; height:100vh; z-index:9999; transition: opacity 0.7s ease; }
        #intro video { position:absolute; top:0; left:0; width:100%; height:100%; object-fit:cover; z-index:1; }
        #intro-content { position:absolute; bottom:11%; left:0; right:0; z-index:2; text-align:center; padding:0 1rem; }

        #gallery { max-width: 400px; margin: auto; }
        .preview { width: 100%; height: 550px; overflow: hidden; border-radius: 0.5rem; margin-bottom: 1.5rem; box-shadow: 0 4px 6px rgba(0,0,0,0.1);}
        .preview img { width: 100%; height: 100%; object-fit: cover; transition: 0.3s ease-in-out; }
        .swiper-slide img { width: 100%; height: 100%; object-fit: cover; transition: 0.3s ease-in-out; }
        .swiper-slide img { width: 100%; height: 100%; object-fit: cover; transition: 0.3s ease-in-out; }
        
    </style>
</head>

<body class="font-sans">

    <section 
        id="intro" 
        class="relative text-white min-h-screen flex flex-col justify-between items-center text-center py-28 bg-cover bg-center"
        style="background-image: url('assets/images/fotopertama.JPG');"
    >
        <div class="absolute inset-0 bg-black/10"></div>

        <div class="absolute bottom-0 left-0 w-full h-1/2" 
            style="background: linear-gradient(to top, rgba(0,0,0,0.4) 65%, rgba(0,0,0,0.2) 80%, rgba(0,0,0,0) 100%);">
        </div>

        <div class="relative z-10">
            <p class="text-lg font-[txt]">The Wedding of</p>
            <div class="relative text-center mt-8">
                <div class="absolute inset-0 flex items-center justify-center" data-aos="fade-up" data-aos-delay="600">
                    <span class="text-[200px] text-white/40 font-[hdr] select-none">&</span>
                </div>
                <p class="relative -left-10 text-[70px] font-[hdr] text-[#8C1007] font-semibold leading-none" data-aos="fade-right" data-aos-delay="300">
                    Yulan
                </p>
                <p 
                    class="relative text-[70px] pb-2 -right-20 font-[hdr] text-[#8C1007] font-semibold leading-tight md:leading-none" 
                    data-aos="fade-left" 
                    data-aos-delay="300">
                    Panji
                </p>

            </div>
            <!-- <h1 class="text-[65px] mt-5 font-semibold  font-[hdr]">Yulan & Panji</h1> -->
        </div>

        <div id="intro-content" class="relative z-10 pb-8">
            <p class="text-base font-[txt]">Kepada Yth.</p>
            <p id="nama-tamu" class="text-xl font-semibold mt-2 font-[txt]">
                Tamu Undangan
            </p>
            <button id="btn-open" class="bg-[#8C1007] border border-[#8C1007] text-white px-6 py-3 mt-4 rounded-md transition-transform hover:scale-105 font-[txt]">
                Buka Undangan
            </button>
        </div>
    </section>

    <section id="bagian-kedua" class="relative min-h-screen text-white overflow-hidden">
        <div class="relative text-white min-h-screen py-16 bg-cover bg-left" style="background-image: url('assets/images/fotokeempat.JPG');">
            <div class="relative text-center">
                <div class="absolute inset-0 flex items-center justify-center" data-aos="fade-up" data-aos-delay="600">
                    <span class="text-[200px] text-white/20 font-[hdr] select-none">&</span>
                </div>
                <p class="relative -left-16 text-[70px] font-[hdr] text-white leading-none" data-aos="fade-right" data-aos-delay="300">
                    Yulan
                </p>
                <p class="relative text-[70px] pb-2 -right-20 font-[hdr] text-white leading-none" data-aos="fade-left" data-aos-delay="300">
                    Panji
                </p>
            </div>
        </div>
    </section>

    <section id="bagian-ketiga"
        class="relative min-h-screen bg-cover bg-center flex items-center justify-center px-6 py-20"
        style="background-image: url('assets/images/fotokedua.jpg');"
    >
        <div class="absolute inset-0 bg-black/60"></div>

        <div class="absolute bottom-0 left-0 w-full h-1/3"
            style="background: linear-gradient(to top, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.3) 60%, rgba(0,0,0,0) 100%);">
        </div>

        <div class="relative z-10 max-w-4xl mx-auto flex flex-col md:flex-row items-start md:items-center gap-4">
            
            <div class="w-full md:w-1/2 flex " data-aos="fade-right" data-aos-delay="500">
            <img src="assets/images/fotokedua.jpg" alt="Pengantin" class="shadow-lg box-shadow rounded-md max-h-[420px] object-cover" />
            </div>

            <div class="w-full md:w-1/2 text-left " data-aos="fade-left" data-aos-delay="500">
                <p class="text-sm md:text-base leading-relaxed font-[txt]  text-gray-200">
                    "Dan di antara tanda-tanda (kebesaran)-Nya ialah Dia menciptakan pasangan-pasangan
                    untukmu dari jenismu sendiri, agar kamu cenderung dan merasa tenteram kepadanya, dan
                    Dia menjadikan di antaramu rasa kasih dan sayang."
                </p>
                <p class="mt-4 text-2xl md:text-xl font-[txt] text-white" data-aos="fade-left" data-aos-delay="500">
                    <span class="font-bold">QS. Ar-Rum :</span> 21
                </p>
            </div>

        </div>
    </section>

    <section id="bagian-keempat"
        class="relative text-white min-h-screen flex flex-col justify-between items-center text-center py-10 bg-cover bg-center"
        style="background-image: url('assets/images/fotokelima.JPG');"
    >
        <p class="relative -left-16 mt-16 text-[90px] font-semibold font-[hdr] text-[#8C1007] leading-none" data-aos="fade-right" data-aos-delay="500">
            Yulan
        </p>

        <div class="z-10 flex flex-col items-center gap-4" data-aos="fade-up" data-aos-delay="600">
            <div class="bg-[#8C1007]/40 w-full backdrop-blur-sm text-sm border border-[#8C1007]/30 text-white px-6 py-4 mt-5 rounded-2xl shadow-md transition-transform hover:scale-105 font-[txt]" data-aos="fade-up" data-aos-delay="600">
                <div class="font-[txt] text-xl" data-aos="fade-up" data-aos-delay="800">
                    Yulandari Puspita Sari, A.P.TRA
                </div>
                <div class="mt-4" data-aos="fade-up" data-aos-delay="800">
                    <div class="font-[txt] text-base">
                        Putri Pertama dari <br> Bapak Yusep Saepul Barham <br> & <br> Ibu Deundeun Rismawati
                    </div>
                </div>
            </div>

            <a href="https://www.instagram.com/me.yulannn/" target="_blank" rel="noopener noreferrer" class="no-underline">
                <div class="bg-[#8C1007] backdrop-blur-sm text-sm border border-[#8C1007]/30 text-white px-10 mt-2 rounded-lg shadow-md transition-transform hover:scale-105 font-[txt]" data-aos="fade-up" data-aos-delay="800">
                    <div class="flex space-x-4 items-center justify-center py-2">
                        <img src="assets/images/ig.png" alt="Ornamen Kiri" class="h-7 w-7 rounded-full" />
                        <p class="font-[txt] text-base">@me.yulannn</p>
                    </div>
                </div>
            </a>
        </div>
    </section>

    <section id="bagian-kelima"
        class="relative text-white min-h-screen flex flex-col justify-between items-center text-center py-10 bg-cover bg-center"
        style="background-image: url('assets/images/fotokeenam.JPG');"
    >
        <p class="relative pb-2 -left-16 mt-16 text-[90px] font-semibold font-[hdr] text-[#8C1007] leading-none" data-aos="fade-right" data-aos-delay="500">
            Panji
        </p>
        <div class="z-10 flex flex-col items-center gap-4" data-aos="fade-up" data-aos-delay="600">
            <div class="bg-[#8C1007]/40 w-full backdrop-blur-sm text-sm border border-[#8C1007]/30 text-white px-6 py-4 mt-5 rounded-2xl shadow-md transition-transform hover:scale-105 font-[txt]" data-aos="fade-up" data-aos-delay="600">
                <div class="font-[txt] text-xl" data-aos="fade-up" data-aos-delay="800">
                    Panji Caesar Rusmiadi, S.H
                </div>
                <div class="mt-4" data-aos="fade-up" data-aos-delay="800">
                    <div class="font-[txt] text-base">
                        Putra Keempat dari <br> Bapak Suyud <br> & <br> Ibu Wida Ningsih
                    </div>
                </div>
            </div>

            <a href="https://www.instagram.com/pancaerus/" target="_blank" rel="noopener noreferrer" class="no-underline">
                <div class="bg-[#8C1007] backdrop-blur-sm text-sm border border-[#8C1007]/30 text-white px-10 mt-2 rounded-lg shadow-md transition-transform hover:scale-105 font-[txt]" data-aos="fade-up" data-aos-delay="800">
                    <div class="flex space-x-4 items-center justify-center py-2">
                        <img src="assets/images/ig.png" alt="Ornamen Kiri" class="h-7 w-7 rounded-full" />
                        <p class="font-[txt] text-base">@pancaerus</p>
                    </div>
                </div>
            </a>
        </div>
    </section>

    <section id="bagian-keenam"
        class="relative min-h-screen bg-cover bg-center flex items-center justify-center px-6 py-20"
        style="background-image: url('assets/images/fotoketujuh.JPG');"
    >
        <!-- Overlay -->
        <div class="absolute inset-0 bg-black/60"></div>

        <!-- Konten Utama -->
        <div class="relative z-10 max-w-6xl mx-auto flex flex-col md:flex-row items-start md:items-center gap-12 w-full">

            <!-- Gallery (full width, no padding) -->
            <div class="relative z-10 mt-5 w-full">
                <div id="gallery">
                    <div class="swiper mySwiper2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="assets/images/gal-01.JPG" alt="Galeri" 
                                    class="gallery-img cursor-pointer rounded-md" onclick="openModal(0)">
                            </div>
                            <div class="swiper-slide">
                                <img src="assets/images/gal-02.JPG" alt="Galeri" 
                                    class="gallery-img cursor-pointer rounded-md" onclick="openModal(1)">
                            </div>
                            <div class="swiper-slide">
                                <img src="assets/images/gal-03.JPG" alt="Galeri" 
                                    class="gallery-img cursor-pointer rounded-md" onclick="openModal(2)">
                            </div>
                            <div class="swiper-slide">
                                <img src="assets/images/gal-04.JPG" alt="Galeri" 
                                    class="gallery-img cursor-pointer rounded-md" onclick="openModal(3)">
                            </div>
                            <div class="swiper-slide">
                                <img src="assets/images/gal-05.jpg" alt="Galeri" 
                                    class="gallery-img cursor-pointer rounded-md" onclick="openModal(4)">
                            </div>
                            <div class="swiper-slide">
                                <img src="assets/images/gal-07.jpg" alt="Galeri" 
                                    class="gallery-img cursor-pointer rounded-md" onclick="openModal(5)">
                            </div>
                            <div class="swiper-slide">
                                <img src="assets/images/gal-08.JPG" alt="Galeri" 
                                    class="gallery-img cursor-pointer rounded-md" onclick="openModal(6)">
                            </div>
                            <div class="swiper-slide">
                                <img src="assets/images/gal-09.JPG" alt="Galeri" 
                                    class="gallery-img cursor-pointer rounded-md" onclick="openModal(7)">
                            </div>
                            <div class="swiper-slide">
                                <img src="assets/images/gal-10.JPG" alt="Galeri" 
                                    class="gallery-img cursor-pointer rounded-md" onclick="openModal(8)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Countdown -->
            <div class="w-full text-left" data-aos="fade-left" data-aos-delay="500">
                <div ref="countdownRef" class="countdown">
                    <div class="flex justify-center space-x-7 px-5" data-aos="zoom-in">
                        <div class="text-center">
                            <p class="text-5xl text-white font-bold">{{ days }}</p>
                            <p class="text-sm mt-2 text-white/80">Hari</p>
                        </div>
                        <div class="text-center">
                            <p class="text-5xl text-white font-bold">{{ hours }}</p>
                            <p class="text-sm mt-2 text-white/80">Jam</p>
                        </div>
                        <div class="text-center">
                            <p class="text-5xl text-white font-bold">{{ minutes }}</p>
                            <p class="text-sm mt-2 text-white/80">Menit</p>
                        </div>
                        <div class="text-center">
                            <p class="text-5xl text-white font-bold">{{ seconds }}</p>
                            <p class="text-sm mt-2 text-white/80">Detik</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Akad -->
            <div class="w-full text-left">
                <hr class="w-24 my-4 border-t-2 border-white" data-aos="zoom-in" />
                <p class="text-[55px] font-[hdr] text-white leading-none mt-6" data-aos="fade-right" data-aos-delay="500">
                    Akad Nikah
                </p>
                <div class="flex flex-col space-y-3 text-white mt-4 text-base font-[txt]" data-aos="fade-left" data-aos-delay="500">
                    <p class="text-xl mb-1">Minggu, 12 Oktober 2025</p>
                    <p>Pukul 08.00 - 09.00 WIB</p>
                    <p>Di Rumah Mempelai Wanita <br> Kp. Bojonggenteng RT 022/011, Desa Lengkong, Kecamatan Lengkong</p>
                </div>

                <a href="https://www.google.com/maps/search/?api=1&query=Kp.%20Ci%20Pangawaren%20RT%2009/02,%20Pasir%20Panjang,%20Ciracap" target="_blank" rel="noopener noreferrer">
                    <button id="btn-open" class="bg-[#8C1007] border border-[#8C1007] text-white px-6 py-3 mt-5 rounded-md transition-transform hover:scale-105 font-[txt]">
                        Google Maps
                    </button>
                </a>
            </div>

            <!-- Resepsi -->
            <div class="w-full text-left">
                <hr class="w-24 my-4 border-t-2 border-white" data-aos="zoom-in" />
                <p class="text-[55px] font-[hdr] text-white leading-none mt-6" data-aos="fade-right" data-aos-delay="500">
                    Resepsi
                </p>
                <div class="flex flex-col space-y-3 text-white mt-4 text-base font-[txt]" data-aos="fade-left" data-aos-delay="500">
                    <p class="text-xl mb-1">Minggu, 12 Oktober 2025</p>
                    <p>Pukul 09.00 WIB - Selesai</p>
                    <p>Di Rumah Mempelai Wanita <br> Kp. Bojonggenteng RT 022/011, Desa Lengkong, Kecamatan Lengkong</p>
                </div>
                
                <a href="https://www.google.com/maps/search/?api=1&query=Kp.%20Ci%20Pangawaren%20RT%2009/02,%20Pasir%20Panjang,%20Ciracap" target="_blank" rel="noopener noreferrer">
                    <button id="btn-open" class="bg-[#8C1007] border border-[#8C1007] text-white px-6 py-3 mt-5 rounded-md transition-transform hover:scale-105 font-[txt]">
                        Google Maps
                    </button>
                </a>
            </div>

            <hr class="w-24 my-2 border-t-2 border-white" data-aos="zoom-in" />
            <!-- Save the Date -->
            <div class="flex flex-col items-center justify-center w-full">
                <p class="text-center text-[55px] font-[hdr] text-white leading-none mt-6" data-aos="fade-up" data-aos-delay="500">
                    Save The Date
                </p>
            </div>

        </div>
    </section>

    <section id="bagian-ketujuh"
        class="relative min-h-screen bg-cover bg-center flex items-center justify-center px-6 py-10"
        style="background-image: url('assets/images/gal-10.JPG');"
    >
        <!-- Overlay -->
        <div class="absolute inset-0 bg-black/60"></div>

        <!-- Konten -->
        <div class="relative z-10 w-full max-w-5xl">
            <div class="flex justify-center items-center text-center text-white mb-6 text-base font-[txt]" data-aos="fade-left" data-aos-delay="500">
                <p class="text-lg italic">
                    "A great marriage isn’t something that just happens, it’s something that must be created."
                </p>
            </div>

            <div id="gallery">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/images/gal-01.JPG" alt="Galeri" 
                            class="gallery-img cursor-pointer" onclick="openModal(0)">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/gal-02.JPG" alt="Galeri" 
                            class="gallery-img cursor-pointer" onclick="openModal(1)">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/gal-03.JPG" alt="Galeri" 
                            class="gallery-img cursor-pointer" onclick="openModal(2)">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/gal-04.JPG" alt="Galeri" 
                            class="gallery-img cursor-pointer" onclick="openModal(3)">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/gal-05.jpg" alt="Galeri" 
                            class="gallery-img cursor-pointer" onclick="openModal(4)">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/gal-07.jpg" alt="Galeri" 
                            class="gallery-img cursor-pointer" onclick="openModal(5)">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/gal-08.JPG" alt="Galeri" 
                            class="gallery-img cursor-pointer" onclick="openModal(6)">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/gal-09.JPG" alt="Galeri" 
                            class="gallery-img cursor-pointer rounded-md" onclick="openModal(7)">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/gal-10.JPG" alt="Galeri" 
                            class="gallery-img cursor-pointer rounded-md" onclick="openModal(8)">
                    </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col items-center justify-center mt-8">
                <p class="relative text-center text-[65px] font-[hdr] text-white leading-none" data-aos="fade-right" data-aos-delay="500" style="text-align: center !important;">
                    Galeri Foto
                </p>
            </div>

            <div id="galleryModal" 
                class="fixed inset-0 bg-black/90 hidden flex items-center justify-center py-20 z-50">
                
                <div class="w-full max-w-5xl relative flex items-center justify-center">
                    <!-- Tombol Close -->
                    <button onclick="closeModal()" 
                            class="absolute top-4 right-4 text-white text-3xl z-50">&times;</button>
                    
                    <!-- Swiper untuk modal -->
                    <div class="swiper modalSwiper w-full">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide flex justify-center items-center">
                                <img src="assets/images/gal-01.JPG" class="max-h-[80vh] object-contain">
                            </div>
                            <div class="swiper-slide flex justify-center items-center">
                                <img src="assets/images/gal-02.JPG" class="max-h-[80vh] object-contain">
                            </div>
                            <div class="swiper-slide flex justify-center items-center">
                                <img src="assets/images/gal-03.JPG" class="max-h-[80vh] object-contain">
                            </div>
                            <div class="swiper-slide flex justify-center items-center">
                                <img src="assets/images/gal-04.JPG" class="max-h-[80vh] object-contain">
                            </div>
                            <div class="swiper-slide flex justify-center items-center">
                                <img src="assets/images/gal-05.jpg" class="max-h-[80vh] object-contain">
                            </div>
                            <div class="swiper-slide flex justify-center items-center">
                                <img src="assets/images/gal-07.jpg" class="max-h-[80vh] object-contain">
                            </div>
                            <div class="swiper-slide flex justify-center items-center">
                                <img src="assets/images/gal-08.JPG" class="max-h-[80vh] object-contain">
                            </div>
                        </div>

                        <!-- Navigation -->
                        <div class="swiper-button-next text-white"></div>
                        <div class="swiper-button-prev text-white"></div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <section id="bagian-kedelapan"
        class="relative min-h-screen bg-cover bg-center flex flex-col items-center justify-center px-6 py-10"
        style="background-image: url('assets/images/gal-03.JPG');">

        <!-- Overlay -->
        <div class="absolute inset-0 bg-black/30"></div>

        <!-- Konten -->
        <div class="relative z-10 w-full max-w-5xl">

            <!-- Judul -->
            <div class="flex justify-center items-center text-center text-white mb-10">
                <p class="text-[65px] font-[hdr] text-white leading-none" data-aos="fade-up" data-aos-delay="500">
                    Our Love Story
                </p>
            </div>

            <!-- Timeline -->
            <div class="relative ml-6">

                <!-- Garis vertikal -->
                <div class="absolute top-0 left-0 h-full w-[2px] bg-gray-400"></div>

                <!-- Card 1 -->
                <div class="relative pl-8 mb-10">
                    <!-- Icon Love -->
                    <div class="absolute -left-[22px] top-2 w-10 h-10 rounded-full bg-[#8C1007] border-2 border-gray-300 flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white" viewBox="0 0 24 24" fill="currentColor">
                            <path fill-rule="evenodd" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 
                            5.42 4.42 3 7.5 3c1.74 0 3.41.81 
                            4.5 2.09C13.09 3.81 14.76 3 16.5 
                            3 19.58 3 22 5.42 22 8.5c0 
                            3.78-3.4 6.86-8.55 11.54L12 
                            21.35z" clip-rule="evenodd"/>
                        </svg>
                    </div>

                    <!-- Isi Card -->
                    <div class="border border-white/20 rounded-lg p-6 bg-[#8C1007]/50 text-white h-60 overflow-auto" data-aos="fade-up" data-aos-delay="500">
                        <h3 class="text-2xl text-white mb-2 font-[txt]">Awal bertemu</h3>
                        <p class="text-sm leading-relaxed font-[txt]">
                            Pertemuan pertama saat kami berada dibangku Sekolah Menengah Kejuruan Pertama pada tahun 2016 silam yang hanya sekedar teman. Lalu dipertemukan kembali dibangku SMA dan pernah merasakan satu kelas, tidak pernah terbayang kalau pertemuan sesederhana itu akan menjadi titik awal cerita panjang, setelah menuntaskan pendidikan di tingkat Sekolah Menengah Atas kami memutuskan untuk melanjutkan pendidikan di tingkat Universitas kami terpisahkan antara kota Karawang untukku dan kota Yogyakarta untukmu. Meskipun terpisahkan jarak yang hampir menempuh 500KM tetapi ada komunikasi yang tak terputus yang selalu menghubungkan kami, sampai perlahan mengarahkan kita pada titik indah ini.
                        </p>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="relative pl-8 mb-10">
                    <!-- Icon Love -->
                    <div class="absolute -left-[22px] top-2 w-10 h-10 rounded-full bg-[#8C1007] border-2 border-gray-300 flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white" viewBox="0 0 24 24" fill="currentColor">
                            <path fill-rule="evenodd" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 
                            5.42 4.42 3 7.5 3c1.74 0 3.41.81 
                            4.5 2.09C13.09 3.81 14.76 3 16.5 
                            3 19.58 3 22 5.42 22 8.5c0 
                            3.78-3.4 6.86-8.55 11.54L12 
                            21.35z" clip-rule="evenodd"/>
                        </svg>
                    </div>

                    <!-- Isi Card -->
                    <div class="border border-white/20 rounded-lg p-6 bg-[#8C1007]/50 text-white h-60 overflow-auto" data-aos="fade-up" data-aos-delay="500">
                        <h3 class="text-2xl text-white mb-2 font-[txt]">Bertunangan</h3>
                        <p class="text-sm leading-relaxed font-[txt]">
                            18 Februari 2021 menjadi mimpi awal dimana kami satu sama lain untuk berkomitmen merangkai mimpi dan tujuan hidup bersama. Sampai pada akhir nya kamipun mempertemukan kedua orang tua kami untuk bertemu melangsungkan dalam ikatan pertunangan.
                        </p>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="relative pl-8 mb-10">
                    <!-- Icon Love -->
                    <div class="absolute -left-[22px] top-2 w-10 h-10 rounded-full bg-[#8C1007] border-2 border-gray-300 flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white" viewBox="0 0 24 24" fill="currentColor">
                            <path fill-rule="evenodd" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 
                            5.42 4.42 3 7.5 3c1.74 0 3.41.81 
                            4.5 2.09C13.09 3.81 14.76 3 16.5 
                            3 19.58 3 22 5.42 22 8.5c0 
                            3.78-3.4 6.86-8.55 11.54L12 
                            21.35z" clip-rule="evenodd"/>
                        </svg>
                    </div>

                    <!-- Isi Card -->
                    <div class="border border-white/20 rounded-lg p-6 bg-[#8C1007]/50 text-white h-60 overflow-auto" data-aos="fade-up" data-aos-delay="500">
                        <h3 class="text-2xl text-white mb-2 font-[txt]">Menikah</h3>
                        <p class="text-sm leading-relaxed font-[txt]">
                            Tanggal 12 Oktober 2025, dengan izin Allah SWT dan restu dari kedua orang tua kami. Kami memutuskan untuk menyempurnakan semuanya dalam ikatan pernikahan. ini bukan akhir dari cerita kami tapi ini merupakan awal cerita yang tidak akan pernah selesai sampai pada waktu yang telah Allah SWT tentukan.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="bagian-kesembilan"
        class="relative px-6 py-10 bg-cover bg-center flex flex-col items-center justify-center"
        style="background-image: url('assets/images/gal-02.JPG');"
    >
        <!-- Konten -->
        <div class="relative py-2 text-white z-10 flex flex-col justify-center items-center text-center w-full">
            <p class="text-[50px] mb-5 font-[hdr] text-white leading-none" data-aos="fade-up" data-aos-delay="500">
                Konfirmasi Kehadiran
            </p>
            <p class="text-base leading-relaxed font-[txt] px-2" data-aos="fade-up" data-aos-delay="500">
                Diharapkan Kepada Tamu Undangan Untuk Mengisi Formulir Konfirmasi Kehadiran Berikut
            </p>

            <!-- Success Message -->
            <div v-if="successMessage" class="mt-5 text-white font-semibold">
                <p class="bg-[#8C1007]/30 font-[txt] backdrop-blur-sm border w-full border-white text-white px-6 py-3 rounded-full font-semibold transition-transform hover:scale-105">
                    {{ successMessage }}
                </p>
            </div>

            <!-- Form RSVP -->
            <div v-else class="mt-5 w-full max-w-md" data-aos="fade-up">

                <!-- Pilihan hadir / tidak hadir -->
                <div class="text-center mt-5 flex flex-col space-y-3">
                    <button
                        @click="setAttendance(true)"
                        data-aos="zoom-in"
                        :class="['bg-[#8C1007]/30 font-[txt] backdrop-blur-sm border w-full border-white text-white px-6 py-3 rounded-full font-semibold transition-transform hover:scale-105', isAttending === true ? 'bg-white/60' : '']"
                    >
                        Hadir
                    </button>
                    <button
                        @click="setAttendance(false)"
                        data-aos="zoom-in"
                        :class="['bg-[#8C1007]/30 font-[txt] backdrop-blur-sm border w-full border-white text-white px-6 py-3 rounded-full font-semibold transition-transform hover:scale-105', isAttending === false ? 'bg-white/30' : '']"
                    >
                        Tidak Hadir
                    </button>
                </div>

                <!-- Input jumlah tamu -->
                <div v-if="isAttending" class="mt-10">
                    <p class="text-lg leading-relaxed font-[txt] px-2" data-aos="fade-up" data-aos-delay="200">
                        Jumlah tamu yang akan hadir termasuk kamu?
                    </p>
                    <div class="flex items-center justify-center mt-5 space-x-4">
                        <button
                            @click="decrement"
                            class="bg-[#8C1007]/30 font-[txt] backdrop-blur-sm border border-white text-white px-6 py-3 rounded-md font-semibold transition-transform hover:scale-105"
                        >
                            -
                        </button>
                        <input
                            type="number"
                            v-model.number="guestCount"
                            min="1"
                            class="bg-[#8C1007]/30 font-[txt] backdrop-blur-sm border w-24 text-center border-white text-white px-4 py-3 rounded-md font-semibold transition-transform hover:scale-105"
                        />
                        <button
                            @click="increment"
                            class="bg-[#8C1007]/30 font-[txt] backdrop-blur-sm border border-white text-white px-6 py-3 rounded-md font-semibold transition-transform hover:scale-105"
                        >
                            +
                        </button>
                    </div>
                </div>

                <!-- Tombol submit -->
                <button
                    @click="submitRSVP"
                    data-aos="zoom-in"
                    class="mt-10 bg-[#8C1007]/30 font-[txt] backdrop-blur-sm border border-white text-white px-6 py-3 rounded-full font-semibold transition-transform hover:scale-105 w-full"
                >
                    Konfirmasi Kehadiran
                </button>
            </div>
        </div>
    </section>

    <section id="bagian-kesepuluh"
        class="relative text-white min-h-screen flex flex-col justify-between items-center text-center py-10 bg-cover bg-center"
        style="background-image: url('assets/images/gal-08.JPG');">
        <div class="relative py-2  text-white z-10 flex flex-col justify-center items-center text-center mt-2 w-full">
            <p class="text-[55px] mb-5 font-[hdr] text-white leading-none" data-aos="fade-up" data-aos-delay="500">
                Wedding Gift
            </p>
            <p class="text-base mb-5 font-[txt] text-white leading-relaxed" data-aos="fade-up" data-aos-delay="500">
                Kehadiran Anda adalah hadiah terindah bagi kami. Namun jika Anda ingin memberikan hadiah, Anda dapat mengirimkannya melalui rekening berikut:
            </p>

            <div class="mt-6 space-y-6">
            <p v-if="copied" class="text-2xl font-[txt] text-green-400 mt-4">Berhasil disalin!</p>
            <!-- Kartu Rekening -->
            <div class="relative w-[350px] mx-auto bg-gradient-to-br from-gray-50 to-gray-200 rounded-2xl shadow-lg overflow-hidden p-6" data-aos="fade-up" data-aos-delay="500">
                <!-- Chip -->
                <div class="absolute top-6 left-6">
                <img src="assets/images/chip.webp" alt="Chip" class="w-10 h-8">
                </div>
                <!-- Logo Bank -->
                <div class="absolute top-6 right-6">
                <img src="assets/images/mandiri.png" alt="Logo Bank" class="h-8">
                </div>

                <!-- Nomor rekening -->
                <div class="mt-16 text-left text-[#8C1007]">
                <p class="text-2xl tracking-widest font-[txt]">1730019099655</p>
                <p class="text-lg mt-2 font-[txt]">Panji Caesar Rusmiadi</p>
                </div>

                <!-- Tombol copy -->
                <div class="flex justify-end mt-6">
                <button
                    @click="copyAccount('1730019099655')"
                    class="flex items-center space-x-2 bg-[#8C1007] font-[txt] backdrop-blur-md border border-white text-white px-6 py-2 rounded-full font-semibold transition-transform hover:scale-105 rounded-md text-sm hover:bg-gray-800 transition"
                >
                    <img src="assets/images/copy.png" alt="Copy" class="w-4 h-4">
                    <span>Copy Rekening</span>
                </button>
                </div>
            </div>

            <!-- Kartu Rekening ke-2 -->
            <div class="relative w-[350px] mx-auto bg-gradient-to-br from-gray-50 to-gray-200 rounded-2xl shadow-lg overflow-hidden p-6" data-aos="fade-up" data-aos-delay="500">
                <!-- Chip -->
                <div class="absolute top-6 left-6">
                <img src="assets/images/chip.webp" alt="Chip" class="w-10 h-8">
                </div>
                <!-- Logo Bank -->
                <div class="absolute top-6 right-6">
                <img src="assets/images/mandiri.png" alt="Logo Bank" class="h-8">
                </div>

                <!-- Nomor rekening -->
                <div class="mt-16 text-left text-[#8C1007]">
                <p class="text-2xl tracking-widest font-[txt]">8945293973</p>
                <p class="text-lg mt-2 font-[txt]">Yulandari Puspita Sari</p>
                </div>

                <!-- Tombol copy -->
                <div class="flex justify-end mt-6">
                <button
                    @click="copyAccount('8945293973')"
                    class="flex items-center space-x-2 bg-[#8C1007] font-[txt] backdrop-blur-md border border-white text-white px-6 py-2 rounded-full font-semibold transition-transform hover:scale-105 rounded-md text-sm hover:bg-gray-800 transition"
                >
                    <img src="assets/images/copy.png" alt="Copy" class="w-4 h-4">
                    <span>Copy Rekening</span>
                </button>
                </div>
            </div>

        </div>

        </div>
    </section>

    <section id="bagian-kesebelas"
        class="relative text-white min-h-screen flex flex-col justify-between items-center text-center bg-cover bg-center py-6 px-6"
        style="background-image: url('assets/images/gal-05.jpg');"
    >

        <div class="relative z-10 max-w-2xl">
            <p
            class="text-white text-[25px] font-[txt] leaading-tight "
            data-aos="fade-up"
            data-aos-delay="100"
            >
            Doa restu untuk kedua mempelai.
            </p>

            <!-- Form Ucapan -->
            <div class="mt-10 px-2">
            <div class="text-center mt-5 flex flex-col space-y-2">
                <input
                v-model="name"
                type="text"
                placeholder="Nama kamu..."
                class="bg-[#8C1007]/30 font-[txt] backdrop-blur-sm border border-white text-[#8C1007] px-6 py-3 rounded-full w-full max-w-md"
                data-aos="zoom-in"
                />
                <textarea
                v-model="message"
                placeholder="Tulis doa dan ucapanmu di sini..."
                class="bg-[#8C1007]/30 font-[txt] backdrop-blur-sm border border-white text-white px-6 py-3 rounded-2xl w-full max-w-md"
                data-aos="zoom-in"
                ></textarea>
                <button
                @click="submitUcapan"
                class="bg-[#8C1007]/30 font-[txt] backdrop-blur-sm border border-white text-white px-6 py-3 rounded-full font-semibold transition-transform hover:scale-105"
                data-aos="zoom-in"
                >
                Kirim Ucapan
                </button>
            </div>
            </div>

            <div class="mt-10 text-left h-[480px] overflow-y-auto px-4" data-aos="fade-up" data-aos-delay="500">
                <div
                v-for="ucapan in ucapanList"
                :key="ucapan?.id"
                class="bg-[#8C1007]/30 backdrop-blur-sm border font-[txt] border-white rounded-xl p-4 mb-3"
                >
                <p class="font-bold text-lg" v-if="ucapan?.name">{{ ucapan.name }}</p>
                <p class="text-sm" v-if="ucapan?.message">{{ ucapan.message }}</p>
                </div>
            </div>
        </div>
    </section>

    <section id="bagian-keduabelas"
        class="relative text-white min-h-96 flex flex-col justify-between items-center text-center bg-cover bg-center py-20 px-6"
        style="background-image: url('assets/images/gal-08.JPG');"
    >
        <div class="absolute inset-0 bg-black/20"></div>
        <div class="relative z-10 max-w-2xl">
            <p
            class="text-white text-lg font-[txt] leaading-tight "
            data-aos="fade-up"
            data-aos-delay="100"
            >
                Kedatangan Dan Doa Restu Kalian Hadiah Terindah Bagi Kami.
            </p>

            <h1 class="text-[65px] mt-40   font-[hdr]" data-aos="fade-up" data-aos-delay="500">Yulan & Panji</h1>

        </div>
    </section>


    <!-- Footer -->
    <div class="text-center py-4 bg-black/90">
        <h1 class="text-white text-xl font-bold tracking-widest uppercase">
        ANNSTORY <span class="text-white/50">| Part of anncode</span>
        </h1>
    </div>

    <footer class="text-center py-6 px-4 bg-black/90 text-sm text-white/60">
        <p>© 2025 <span class="font-semibold text-white font-[txt]">
            <a href="https://www.instagram.com/ftrhymlyn/" target="_blank" rel="noopener noreferrer" class="hover:underline">ftrhymlyn</a>
        </span>. All rights reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>


    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-firestore-compat.js"></script>

    <script>
    const { createApp, ref, onMounted } = Vue;

    const audio = new Audio('./assets/music/music.mp3'); 
    audio.loop = true;

    let modalSwiper;

    function openModal(index) {
        document.getElementById("galleryModal").classList.remove("hidden");
        
        // init modal swiper jika belum
        if (!modalSwiper) {
        modalSwiper = new Swiper(".modalSwiper", {
            navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
            },
            loop: true,
        });
        }
        modalSwiper.slideToLoop(index, 0); // langsung lompat ke gambar yang diklik
    }

    function closeModal() {
        document.getElementById("galleryModal").classList.add("hidden");
    }

    document.addEventListener("visibilitychange", () => {
        if (document.visibilityState === "visible") {
            if (audio.paused) audio.play().catch(()=>{});
        } else {
            audio.pause();
        }
    });
    
    document.addEventListener('DOMContentLoaded', () => {
        const images = [
            'assets/images/gal-01.JPG',
            'assets/images/gal-02.JPG',
            'assets/images/gal-03.JPG',
            'assets/images/gal-04.JPG',
            'assets/images/gal-05.jpg',
            'assets/images/gal-07.jpg',
            'assets/images/gal-08.JPG'
        ];

        const activeImage = document.getElementById('activeImage');

        const swiper = new Swiper('.mySwiper', {
            slidesPerView: 1,
            spaceBetween: 5,
            loop: true,
            autoplay: {
                delay: 1200,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });

        const swiper2 = new Swiper('.mySwiper2', {
            slidesPerView: 3,
            spaceBetween: 5,
            loop: true,
            autoplay: {
                delay: 500,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });

    });
    // Firebase
    const firebaseConfig = {
        apiKey: "AIzaSyAzJKTrgJh6PZJ5Yyay7QLPDiC8YXMlirc",
        authDomain: "inv-siti-angga-anncode.firebaseapp.com",
        projectId: "inv-siti-angga-anncode",
        storageBucket: "inv-siti-angga-anncode.firebasestorage.app",
        messagingSenderId: "976339344808",
        appId: "1:976339344808:web:c0515fd9691aabff13119d"
    };
    firebase.initializeApp(firebaseConfig);

    // ✅ Tambahkan ini supaya db tersedia
    const db = firebase.firestore();

    createApp({
        setup() {
            const namaTamu = ref('Tamu Undangan');

            onMounted(() => {
                const params = new URLSearchParams(window.location.search);
                namaTamu.value = params.get('to') || 'Tamu Undangan';
                document.getElementById('nama-tamu').textContent = namaTamu.value;

                AOS.init({ once:true, duration:800 });

                const btn = document.getElementById('btn-open');
                if(btn) btn.addEventListener('click', openInvitation);
            });

            const openInvitation = () => {
                audio.play().catch(()=>{}); // play musik saat buka undangan
                const intro = document.getElementById('intro');
                intro.style.opacity = 0;
                setTimeout(() => {
                    intro.style.display = 'none';
                    document.getElementById('bagian-kedua').scrollIntoView({ behavior:'smooth' });
                    AOS.refresh();
                }, 700);
            };

            // Countdown
            const days=ref(0), hours=ref(0), minutes=ref(0), seconds=ref(0);
            const targetDate=new Date('2025-10-12T00:00:00');
            let countdownInterval=null;
            const updateCountdown = () => {
                const now = new Date();
                const diff = targetDate - now;
                if(diff<=0){ clearInterval(countdownInterval); days.value=hours.value=minutes.value=seconds.value=0; return; }
                days.value=Math.floor(diff/(1000*60*60*24));
                hours.value=Math.floor((diff/(1000*60*60))%24);
                minutes.value=Math.floor((diff/(1000*60))%60);
                seconds.value=Math.floor((diff/1000)%60);
            };
            onMounted(()=>{
                updateCountdown();
                countdownInterval=setInterval(updateCountdown,1000);
            });

            // RSVP
            const isAttending=ref(null), guestCount=ref(1), successMessage=ref('');
            const setAttendance=(val)=>{ isAttending.value=val; if(!val) guestCount.value=0; AOS.refresh(); };
            const increment=()=>guestCount.value++;
            const decrement=()=>{ if(guestCount.value>1) guestCount.value--; };
            const submitRSVP=async ()=>{
                if(isAttending.value===null) return alert("Silakan pilih Hadir atau Tidak Hadir");
                try{
                    await db.collection('rsvp').add({ hadir:isAttending.value, jumlah_tamu:guestCount.value, createdAt:firebase.firestore.FieldValue.serverTimestamp() });
                    successMessage.value='Terimakasih! Kehadiran Anda telah tercatat.';
                    isAttending.value=null; guestCount.value=1;
                    AOS.refresh();
                }catch(e){ console.error(e); alert("Gagal menyimpan data"); }
            };

            // Ucapan
            const name=ref(''), message=ref(''), ucapanList=ref([]);
            const submitUcapan=async ()=>{
                if(!name.value||!message.value) return alert("Nama dan ucapan wajib diisi!");
                try{
                    await db.collection('ucapan').add({ name:name.value, message:message.value, createdAt:firebase.firestore.FieldValue.serverTimestamp() });
                    name.value=''; message.value='';
                }catch(e){ console.error(e); }
            };
            onMounted(()=>{
                db.collection('ucapan').orderBy('createdAt','desc').onSnapshot(snapshot=>{
                    ucapanList.value = snapshot.docs.map(doc=>({id:doc.id,...doc.data()}));
                    AOS.refresh();
                });
            });

            // Copy rekening
            const copied=ref(false), accountNumber='7151745192';
            const copyAccount=()=>{ navigator.clipboard.writeText(accountNumber).then(()=>{ copied.value=true; setTimeout(()=>copied.value=false,2000); }).catch(()=>alert("Gagal menyalin nomor")); };

            const openMap=()=>{ window.open(`https://www.google.com/maps/search/?api=1&query=${encodeURIComponent("Kp. Ci Pangawaren RT 09/02, Pasir Panjang, Ciracap")}`,"_blank"); };
            const addToCalendar=()=>{ window.open(`https://www.google.com/calendar/render?action=TEMPLATE&text=${encodeURIComponent('Undangan Pernikahan Siti & Angga')}&dates=20250828T090000Z/20250828T120000Z`,"_blank"); };

            return { namaTamu, openInvitation, days,hours,minutes,seconds, isAttending, guestCount, successMessage, setAttendance, increment, decrement, submitRSVP, name,message,ucapanList,submitUcapan, copied, copyAccount, openMap, addToCalendar };
        }
    }).mount('body');
    </script> 
</body>

</html>
